stages:
  - build
  - deploy

variables:
  IMAGE_NAME: demo-site:latest
  CONTAINER_NAME: demo-site-container

.default-docker-job: &default-docker-job
  tags:
    - vm
  before_script:
    - echo "Running on $(hostname)"
    - docker --version

build-docker-image:
  <<: *default-docker-job
  stage: build
  script:
    # set the correct build context to the folder containing Dockerfile
    - docker build -t $IMAGE_NAME python/rag_api

deploy-in-to-docker:
  <<: *default-docker-job
  stage: deploy
  script:
    - docker stop $CONTAINER_NAME || true
    - docker rm $CONTAINER_NAME || true
    # map host 8080 -> container 8000 (uvicorn listens on 8000)
    - docker run -d -p 8080:8000 --name $CONTAINER_NAME $IMAGE_NAME
