stages:
  - build
  - deploy

variables:
  IMAGE_NAME: rag:latest
  CONTAINER_NAME: rag-container

.default-docker-job: &default-docker-job
  tags:
    - vps1
  before_script:
    - echo "Running on $(hostname)"
    - docker --version

build-docker-image:
  <<: *default-docker-job
  stage: build
  script:
    # set the correct build context to the folder containing Dockerfile
    - docker build -t $IMAGE_NAME python/rag_api

deploy-in-to-docker:
  <<: *default-docker-job
  stage: deploy
  script:
    - docker stop $CONTAINER_NAME || true
    - docker rm $CONTAINER_NAME || true
    - docker run -d \
        -p 8080:8000 \
        -e OPENAI_API_KEY="$OPENAI_API_KEY" \
        --name $CONTAINER_NAME \
        $IMAGE_NAME