# application
APP_HOST=0.0.0.0
APP_PORT=8000
SECRET_KEY=A5vrjxIbRHoGIcNhd_G1kJuZsQowJOqJtpmqSiDFgCU
ACCESS_TOKEN_EXPIRE_MINUTES=60

# database (asyncpg driver)
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/telegram_access

# initial admin (dev only)
INITIAL_ADMIN_USERNAME=Unibothelper
INITIAL_ADMIN_PASSWORD=unibot123456
ADMIN_USERNAME=Unibothelper
ADMIN_PASSWORD=unibot123456

# jwt
ALGORITHM=HS256
